@{
    ViewBag.Title = "恭喜";
}
@Styles.Render("~/Content/success.css")

<div class="jumbotron info">
    <h2>恭喜您成功部署！</h2>
    <p class="lead">您可以直接連接到你的履歷去看成果囉！若您不滿意可按上一頁進行修改！</p>
    <p>
        <a href="" class="btn btn-danger btn-md" onclick="history.back();">返回修改 &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <h5></h5>
    </div>
</div>
